/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-additional-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: -322px 0px;
  width: 299px;
  height: 80px;
}
.icon-bottom-triangle {
  background-image: url(../img/spritesheet.png);
  background-position: -78px -365px;
  width: 142px;
  height: 72px;
}
.icon-btn-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: -322px -273px;
  width: 194px;
  height: 69px;
}
.icon-btn-text-2 {
  background-image: url(../img/spritesheet.png);
  background-position: -322px -187px;
  width: 212px;
  height: 66px;
}
.icon-btn-text-3 {
  background-image: url(../img/spritesheet.png);
  background-position: -322px -100px;
  width: 292px;
  height: 67px;
}
.icon-checked {
  background-image: url(../img/spritesheet.png);
  background-position: -536px -273px;
  width: 44px;
  height: 44px;
}
.icon-gray-arrow-left {
  background-image: url(../img/spritesheet.png);
  background-position: -161px 0px;
  width: 141px;
  height: 345px;
}
.icon-gray-arrow-right {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 141px;
  height: 345px;
}
.icon-gray-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: -78px -457px;
  width: 31px;
  height: 55px;
}
.icon-green-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: -129px -457px;
  width: 23px;
  height: 50px;
}
.icon-green-big-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -365px;
  width: 58px;
  height: 243px;
}
.icon-green-pointer {
  background-image: url(../img/spritesheet.png);
  background-position: -554px -187px;
  width: 48px;
  height: 48px;
}
.icon-rating {
  background-image: url(../img/spritesheet.png);
  background-position: -398px -365px;
  width: 123px;
  height: 20px;
}
.icon-top-triangle {
  background-image: url(../img/spritesheet.png);
  background-position: -240px -365px;
  width: 138px;
  height: 72px;
}

@font-face {
  font-family: "GB";
  src: url("../fonts/GothamRnd-Book.eot");
  src: url("../fonts/GothamRnd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRnd-Book.woff") format("woff"), url("../fonts/GothamRnd-Book.ttf") format("truetype"), url("../fonts/GothamRnd-Book.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GL";
  src: url("../fonts/GothamRnd-Light.eot");
  src: url("../fonts/GothamRnd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRnd-Light.woff") format("woff"), url("../fonts/GothamRnd-Light.ttf") format("truetype"), url("../fonts/GothamRnd-Light.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GM";
  src: url("../fonts/GothamRnd-Medium.eot");
  src: url("../fonts/GothamRnd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRnd-Medium.woff") format("woff"), url("../fonts/GothamRnd-Medium.ttf") format("truetype"), url("../fonts/GothamRnd-Medium.svg#$font-file") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  max-width: 100%;
  font-family: 'GL', Arial;
  padding: 0 !important;
}
html.ie8 body {
  min-width: 940px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: "GM";
}
.outlined,
.outlined div {
  outline: 1px solid #f00;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.container {
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px !important;
}
.btn {
  white-space: normal;
}
.btn.btn-success {
  -webkit-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
h3 {
  text-align: center;
  font-size: 2.68em;
}
h3.light {
  font-family: "GL";
}
.btn {
  border: none;
  font-family: "GM";
  text-transform: uppercase;
  font-size: 1.42em;
  padding: 18px 15px 14px 15px;
}
.btn.btn-block {
  margin: auto;
}
.btn.btn-danger {
  color: #fff;
  background: #f2676b;
  border-bottom: 3px solid #d35458;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
  background: #de1319;
}
.btn.btn-primary {
  color: #fff;
  background: #0098db;
  border-bottom: 3px solid #1078a6;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #006a99;
}
p.tip {
  color: #65859f;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  position: relative;
  left: -16px;
  margin: 0;
  padding-bottom: 24px;
}
.well.empty {
  -webkit-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #fff;
  border: 1px solid #dadee1;
  padding: 72px 58px 66px 58px;
  margin: auto;
  margin-bottom: 30px;
  position: relative;
}
.well.empty a.answer-link {
  color: #32c07a;
  font-family: "GM";
}
.well.empty p {
  font-size: 1.138em;
  font-family: GL;
  line-height: 164%;
  margin-bottom: 26px;
}
.well.empty header {
  text-align: center;
  position: absolute;
  top: -30px;
  width: 100%;
  left: 0;
}
.well.empty header h4.title {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 17px;
  font-size: 1.42em;
  background: #fff0c1;
  color: #af5d27;
  font-family: GL;
  position: relative;
}
.well.empty header .icon {
  position: absolute;
  top: -41px;
  left: -35px;
}
@media only screen and (max-width: 768px) {
  .well.empty header .icon {
    display: none;
  }
}
.well.empty header .icon.right {
  left: auto;
  right: -27px;
}
nav.navbar {
  background: #eef1f3;
  margin: 0;
}
nav.navbar .navbar-brand {
  padding: 17px 0px 55px 0px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  nav.navbar .navbar-brand {
    padding-left: 20px;
  }
}
nav.navbar ul.nav {
  margin-right: -30px;
  padding: 0;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  nav.navbar ul.nav {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
nav.navbar ul.nav li {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 100%;
}
nav.navbar ul.nav li a {
  font-size: 0.78em;
  font-family: GB;
  color: #000;
  font-weight: bold;
  margin: 0px 0;
  padding: 0px 18px;
  line-height: 100%;
  border-left: 1px solid #cdcdcd;
}
nav.navbar ul.nav li a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  nav.navbar ul.nav li a {
    border: none;
    padding: 5px 15px;
    font-size: 1em;
  }
}
nav.navbar ul.nav li:first-child a {
  border: none;
}
nav.navbar ul.nav li:last-child a {
  padding-right: 0;
}
section.page-header {
  margin-top: 0;
  padding-top: 55px;
  padding-bottom: 30px;
  text-align: center;
  min-height: 726px;
  background: url("../img/mountains.jpg") top center #eee;
}
@media only screen and (max-width: 768px) {
  section.page-header {
    min-height: 1px;
    padding-top: 20px;
  }
}
section.page-header h1 {
  font-size: 3.28em;
  margin: 0;
  padding: 0;
}
section.page-header h2 {
  font-family: GL;
  font-size: 1.7em;
  margin: 5px 0px 54px 0px;
}
section.page-header h2 strong {
  font-family: GM;
  text-transform: uppercase;
}
section.page-header p {
  font-size: 1.124em;
  line-height: 156%;
  margin-bottom: 45px;
  font-family: GB;
}
section.page-header p u {
  text-decoration: none;
  display: inline-block;
  line-height: 100%;
  margin: 0;
  vertical-align: bottom;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}
section.page-header p strong {
  font-size: 1.145em;
  font-family: GM;
  text-transform: uppercase;
}
section.page-header .btn-holder {
  text-align: center;
  color: #757779;
  position: relative;
}
section.page-header .btn-holder span {
  color: #757779;
  display: block;
  text-align: center;
  margin: auto;
  line-height: 100%;
}
section.page-header .btn-holder .btn {
  max-width: 487px !important;
  display: block;
  position: relative;
  margin-bottom: 9px;
}
section.page-header .btn-holder .btn .icon-btn-arrow {
  position: absolute;
  right: -201px;
  top: 20px;
}
@media only screen and (max-width: 768px) {
  section.page-header .btn-holder .btn .icon-btn-arrow {
    display: none;
  }
}
article.test-1 {
  padding-top: 36px;
  padding-bottom: 10px;
}
article.test-1 h3 {
  position: relative;
  margin-bottom: 40px;
}
article.test-1 h3:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 48%;
  width: 40px;
  height: 3px;
  background: #ecc220;
}
article.test-1 p.intro {
  font-size: 1.28em;
  font-family: GL;
  line-height: 148%;
  margin-top: 67px;
  margin-bottom: 24px;
}
article.test-1 .well.empty {
  max-width: 700px;
  margin-bottom: 0;
  padding: 72px 58px 65px 58px;
}
@media only screen and (max-width: 768px) {
  article.test-1 .well.empty {
    padding: 72px 28px 15px 28px;
  }
}
article.test-2 {
  padding-top: 8px;
  padding-bottom: 10px;
}
article.test-2.v2 .well.empty p,
article.test-2.v2 .well.empty p a.answer-link {
  color: #ecc220;
}
article.test-2 p.intro {
  font-size: 1.28em;
  font-family: GL;
  line-height: 148%;
  margin-top: 67px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  article.test-2 p.intro {
    margin-top: 15px;
  }
}
article.test-2 .well.empty {
  max-width: 1023px;
  padding-right: 400px;
  padding-top: 66px;
  padding-bottom: 33px;
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  article.test-2 .well.empty {
    padding: 72px 28px 16px 28px;
  }
}
article.test-2 .well.empty p {
  line-height: 216%;
  margin-bottom: 34px;
  font-size: 1.135em;
}
article.test-2 .well.empty header h4.title {
  padding-left: 90px;
  padding-right: 90px;
}
@media only screen and (max-width: 768px) {
  article.test-2 .well.empty header h4.title {
    padding-left: 15px;
    padding-right: 15px;
  }
}
article.test-2 .well.empty section.questions-list {
  position: absolute;
  top: 76px;
  right: 0;
  width: 342px;
  height: 811px;
  padding: 0px 10px 10px 44px;
  border-left: 1px solid #dadee1;
}
@media only screen and (max-width: 768px) {
  article.test-2 .well.empty section.questions-list {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border: none;
    margin-bottom: 5px;
  }
}
article.test-2 .well.empty section.questions-list h5.questions-title {
  padding: 0px 0px 0px 0px;
  margin: 0;
  margin-bottom: 47px;
  line-height: 100%;
  font-family: GL;
  font-size: 1.72em;
}
@media only screen and (max-width: 768px) {
  article.test-2 .well.empty section.questions-list h5.questions-title {
    margin-bottom: 35px;
  }
}
article.test-2 .well.empty section.questions-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
article.test-2 .well.empty section.questions-list ul li {
  font-size: 1.75em;
  font-family: GM;
  line-height: 100%;
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 0px;
}
article.submit-form {
  padding-top: 16px;
  padding-bottom: 72px;
  text-align: center;
}
article.submit-form h3 {
  font-size: 3.26em;
  margin-bottom: 24px;
}
article.submit-form p {
  text-align: center;
  font-size: 1.7em;
  line-height: 124%;
  margin-bottom: 2px;
}
article.submit-form form p {
  text-align: right;
  line-height: 100%;
  margin: 0;
}
article.submit-form .icon-green-arrow {
  display: block;
  margin: auto;
  position: relative;
  right: -180px;
}
@media only screen and (max-width: 768px) {
  article.submit-form .icon-green-arrow {
    right: auto;
    margin: auto;
  }
}
article.submit-form .row {
  margin: auto;
  max-width: 694px;
  margin-top: 6px;
}
article.submit-form .row .col-xs-6 {
  padding: 0;
  width: 50%;
  float: left;
}
@media only screen and (max-width: 768px) {
  article.submit-form .row .col-xs-6 {
    float: none;
    clear: both;
    width: 100%;
  }
}
article.submit-form .row .col-xs-6 .form-control {
  -webkit-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  border-right: 0;
  height: 62px;
}
@media only screen and (max-width: 768px) {
  article.submit-form .row .col-xs-6 .form-control {
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    border: 1px solid #eee;
  }
}
article.submit-form .row .col-xs-6 .btn-danger {
  border-left: 0;
  -webkit-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
@media only screen and (max-width: 768px) {
  article.submit-form .row .col-xs-6 .btn-danger -webkit-border-radius 3px {
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #f2676b;
  }
}
article.yellow-section {
  color: #000;
  min-height: 458px;
  background: url("../img/yellow-bg.png") no-repeat top center #e3a201;
  padding-top: 101px;
  padding-bottom: 60px;
  text-align: center;
}
article.yellow-section h3 {
  margin-top: 30px;
  font-size: 3.26em;
  line-height: 126%;
}
article.yellow-section .hidden-content .btn-primary {
  padding-left: 35px;
  padding-right: 35px;
}
article.yellow-section .hidden-content h3 {
  margin-top: 20px;
  margin-bottom: 0;
}
article.yellow-section .hidden-content p {
  font-size: 1.26em;
  margin-bottom: 30px;
}
article.testimonials {
  padding-top: 58px;
  padding-bottom: 71px;
}
article.testimonials h3 {
  font-size: 1.69em;
  text-align: left;
  margin-bottom: 45px;
}
article.testimonials .container {
  position: relative;
  padding-left: 397px;
}
@media only screen and (max-width: 768px) {
  article.testimonials .container {
    padding-left: 15px;
  }
}
article.testimonials .container img.img-responsive {
  position: absolute;
  top: 71px;
  left: -15px;
}
@media only screen and (max-width: 768px) {
  article.testimonials .container img.img-responsive {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    margin-bottom: 20px;
  }
}
article.testimonials .container .testimonial {
  margin-bottom: 39px;
}
article.testimonials .container .testimonial.last {
  margin-bottom: 55px;
}
article.testimonials .container cite {
  font-style: normal;
  display: block;
  font-size: 1em;
  line-height: 148%;
  padding-right: 90px;
  margin-bottom: 7px;
}
@media only screen and (max-width: 768px) {
  article.testimonials .container cite {
    padding-right: 0;
  }
}
article.testimonials .container cite strong {
  font-size: 1.14em;
}
article.testimonials .container p.name {
  margin: 13px 0px 0px 0px;
  display: block;
  font-family: GM;
}
article.testimonials .container .btn-primary {
  font-size: 0.98em;
  padding: 13px 21px;
}
article.evening {
  background: url("../img/bg-2.jpg") no-repeat center top #eee;
  padding-top: 67px;
  padding-bottom: 104px;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  article.evening {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
article.evening h3 {
  font-size: 2.27em;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 100%;
  position: relative;
  color: #fff !important;
}
article.evening h3:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 48%;
  width: 40px;
  height: 3px;
  background: #ecc220;
}
article.evening h4 {
  font-family: GL;
  margin: 0;
  padding: 0;
  font-size: 1.28em;
  margin-bottom: 51px;
  line-height: 150%;
  color: #fff !important;
}
article.evening p {
  font-size: 1.28em;
  line-height: 150%;
  margin-bottom: 53px;
  color: #fff !important;
}
article.evening .btn-danger {
  color: #fff !important;
  padding-left: 47px;
  padding-right: 47px;
}
footer.bottom {
  background: #ecc100;
  padding-top: 31px;
  padding-bottom: 0px;
}
footer.bottom .container {
  padding-left: 55px;
  padding-right: 55px;
}
footer.bottom .left {
  text-align: left;
}
@media only screen and (max-width: 768px) {
  footer.bottom .left {
    text-align: center;
  }
}
footer.bottom .left a.logo {
  display: block;
  margin-top: 9px;
  margin-bottom: 28px;
}
@media only screen and (max-width: 768px) {
  footer.bottom .left a.logo {
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  footer.bottom .left a.logo img {
    display: inline-block;
    vertical-align: middle;
  }
}
footer.bottom .left p a {
  color: #000;
  text-transform: uppercase;
  font-size: 0.84em;
  display: inline-block;
  vertical-align: middle;
  padding-left: 14px;
  padding-right: 14px;
}
footer.bottom .left p a.first {
  padding-left: 0;
}
footer.bottom .right address,
footer.bottom .right p.copy {
  text-align: right;
  font-size: 0.86em;
  line-height: 167%;
  font-style: normal;
}
@media only screen and (max-width: 768px) {
  footer.bottom .right address,
  footer.bottom .right p.copy {
    text-align: center;
  }
}
.popover {
  opacity: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
  filter: alpha(opacity=0) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
}
.popover.in {
  opacity: 1 !important;
  -ms-filter: none !important;
  filter: none !important;
  -ms-filter: none !important;
  filter: none !important;
  width: auto;
}
.popover h3.popover-title {
  display: none;
}
.popover-content {
  padding: 0;
}
.popover-content ul.list-group {
  margin: 0;
  padding: 0;
}
.popover-content ul.list-group li.list-group-item {
  border: none;
  border-bottom: 1px solid #e4e4e4;
  font-size: 1em;
  font-family: GL;
  color: #6d6f73;
  margin: 0;
}
.popover-content ul.list-group li.list-group-item:last-child {
  border-bottom: none;
}
.popover-content ul.list-group li.list-group-item:hover,
.popover-content ul.list-group li.list-group-item:focus {
  cursor: pointer;
  background: #f7f7f8;
  font-family: GM;
}
@media only screen and (max-width: 979px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br,
  p br,
  li br {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .row {
    margin: 0;
  }
  .row .col-xs-1,
  .row .col-xs-2,
  .row .col-xs-3,
  .row .col-xs-4,
  .row .col-xs-5,
  .row .col-xs-6,
  .row .col-xs-7,
  .row .col-xs-8,
  .row .col-xs-9,
  .row .col-xs-10,
  .row .col-xs-11,
  .row .col-xs-12 {
    float: none;
    width: 100%;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    word-wrap: break-word;
  }
}
a:hover,
a:focus,
a,
.btn,
.btn:hover,
.btn:focus {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
article.map {
  position: relative;
}
article.map iframe {
  pointer-events: none;
  height: 785px;
  width: 100%;
}
article.map .box {
  position: absolute;
  left: 9px;
  width: 100%;
  max-width: 380px;
  top: 105px;
  background: #000;
  background: rgba(0,0,0,0.75);
  padding: 27px 30px 0px 30px;
}
article.map .box p {
  color: #fff;
  font-size: 1.35em;
  font-family: GB;
  margin-bottom: 27px;
  line-height: 130%;
}
article.english-gratis {
  padding-top: 67px;
  padding-bottom: 51px;
  background: #f9f9f9;
}
@media only screen and (max-width: 768px) {
  article.english-gratis {
    padding-top: 45px;
    padding-bottom: 30px;
  }
}
article.english-gratis .container {
  max-width: 718px !important;
}
article.english-gratis h3 {
  text-align: center;
  color: #000;
  font-size: 3.38em;
  line-height: 115%;
  margin-bottom: 3px;
}
article.english-gratis h5 {
  margin-top: 0px;
  text-align: center;
  color: #424242;
  font-family: GL;
  font-size: 1.32em;
  margin-top: 7px;
  margin-bottom: 59px;
}
article.english-gratis ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #000;
  font-family: GL;
}
article.english-gratis ul li {
  padding: 20px 0px 46px 85px;
  margin: 0;
  font-size: 1.71em;
  line-height: 133%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  article.english-gratis ul li {
    padding-bottom: 10px;
  }
}
article.english-gratis ul li .icon {
  position: absolute;
  top: 18px;
  left: 9px;
}
article.english-gratis ul li:first-child .icon {
  top: 9px;
}
header.top section.page-header-2 {
  padding-top: 115px;
  padding-bottom: 100px;
  min-height: 1px;
  background-position: bottom;
}
@media only screen and (max-width: 979px) {
  header.top section.page-header-2 {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
header.top section.page-header-2 h1 {
  font-size: 3.6em;
  line-height: 103%;
  margin-bottom: 10px;
}
header.top section.page-header-2 h2 {
  font-size: 1.76em;
  margin-top: 13px;
  margin-bottom: 43px;
  letter-spacing: 0.005em;
}
header.top section.page-header-2 p {
  margin-bottom: 80px;
}
@media only screen and (max-width: 979px) {
  header.top section.page-header-2 p {
    margin-bottom: 30px;
  }
}
header.top section.page-header-2 .btn-holder .btn {
  padding-top: 20px;
  font-size: 1.7em;
  line-height: 95%;
  padding-bottom: 12px;
}
@media only screen and (max-width: 768px) {
  header.top section.page-header-2 .btn-holder .btn {
    width: 100%;
    max-width: 100% !important;
  }
}
header.top section.page-header-2 .btn-holder .btn i {
  font-family: GL;
  text-transform: none;
  font-style: italic;
  font-size: 0.75em;
}
header.top section.page-header-2 .btn-holder .btn .icon {
  position: absolute;
  right: -208px;
  top: -27px;
}
@media only screen and (max-width: 979px) {
  header.top section.page-header-2 .btn-holder .btn .icon {
    display: none;
  }
}
header.top section.page-header-2 .container {
  max-width: 1024px !important;
}
article.intro-info {
  padding-top: 13px;
  padding-bottom: 51px;
  text-align: center;
  position: relative;
  z-index: 2;
}
article.intro-info .icon-top-triangle {
  position: absolute;
  bottom: -72px;
  left: 50%;
  margin-left: -72px;
}
article.intro-info .icon-green-big-arrow {
  position: absolute;
  left: 27%;
  bottom: -178px;
}
@media only screen and (max-width: 979px) {
  article.intro-info .icon-green-big-arrow {
    left: 15%;
  }
}
@media only screen and (max-width: 768px) {
  article.intro-info .icon-green-big-arrow {
    left: 5%;
  }
}
article.intro-info h3 {
  font-size: 1.28em;
  margin-bottom: 24px;
  text-align: center;
  font-family: GM;
}
article.intro-info p {
  font-size: 1.28em;
  font-family: GL;
  line-height: 145%;
}
article.form-main-level {
  background: #ecf1f4;
  padding-top: 92px;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
}
article.form-main-level .container {
  max-width: 1162px !important;
}
article.form-main-level h3 {
  font-family: GB;
  margin-bottom: 58px;
  font-size: 3.33em;
}
article.form-main-level .icon-bottom-triangle {
  position: absolute;
  bottom: -72px;
  left: 50%;
  margin-left: -72px;
}
article.form-main-level .checkbox-group {
  padding-left: 354px;
  margin-bottom: 89px;
}
@media only screen and (max-width: 979px) {
  article.form-main-level .checkbox-group {
    padding-left: 200px;
  }
}
@media only screen and (max-width: 768px) {
  article.form-main-level .checkbox-group {
    padding-left: 60px;
    margin-bottom: 40px;
  }
}
.checkbox-group {
  font-family: GL;
}
.checkbox-group span.checkbox {
  display: block;
  margin-bottom: 25px;
  font-size: 2.28em;
}
.checkbox-group span.checkbox input[type="checkbox"]+ label:before,
.checkbox-group span.checkbox input[type="checkbox"]+ label:after {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  left: -67px;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #d9dadc;
}
.checkbox-group span.checkbox input[type="checkbox"]+ label:after {
  border: 1px solid #d9dadc;
  content: '';
  top: 0;
  width: 45px;
  height: 45px;
}
.checkbox-group span.checkbox input[type="checkbox"]:focus + label:before {
  outline: none !important;
}
.checkbox-group span.checkbox input[type="checkbox"]:checked + label:after {
  background-image: url("../img/spritesheet.png");
  background-position: -536px -273px;
}
.checkbox-group.smaller {
  margin-top: 94px;
  margin-bottom: 30px;
}
.checkbox-group.smaller span.checkbox {
  font-size: 1.7em;
}
.checkbox-group.smaller span.checkbox label:before,
.checkbox-group.smaller span.checkbox label:after {
  margin-top: -5px;
}
.inputs-group {
  text-align: left;
  font-size: 1.7em;
}
.inputs-group p {
  position: relative;
  padding-left: 193px;
  margin-bottom: 9px;
}
@media only screen and (max-width: 979px) {
  .inputs-group p {
    padding-left: 45px;
  }
}
@media only screen and (max-width: 768px) {
  .inputs-group p {
    padding-left: 0;
    text-align: center;
    margin-bottom: 25px;
  }
}
.inputs-group p.last {
  padding-left: 210px;
}
@media only screen and (max-width: 979px) {
  .inputs-group p.last {
    padding-left: 62px;
  }
}
@media only screen and (max-width: 768px) {
  .inputs-group p.last {
    padding-left: 0;
  }
}
.inputs-group label.error {
  position: absolute;
  bottom: -10px;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .inputs-group label.error {
    position: relative;
    bottom: 0;
    display: block;
    width: 100%;
  }
}
.inputs-group .form-control {
  display: inline-block;
  vertical-align: middle;
  width: 244px;
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid #d9dadc;
  -webkit-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 62px;
}
@media only screen and (max-width: 768px) {
  .inputs-group .form-control {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
article.with-man {
  background: #fff;
  padding-top: 66px;
  padding-bottom: 0px;
  border-top: 1px solid #f9f9f9;
}
@media only screen and (max-width: 768px) {
  article.with-man {
    min-height: 1px;
    padding-top: 40px;
  }
}
article.with-man .container {
  position: relative;
  max-width: 1276px !important;
}
article.with-man h3,
article.with-man p {
  padding-left: 108px;
  padding-right: 321px;
}
@media only screen and (max-width: 979px) {
  article.with-man h3,
  article.with-man p {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 768px) {
  article.with-man h3,
  article.with-man p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
article.with-man h3 {
  color: #000;
  text-align: left;
  font-size: 3.27em;
  margin-bottom: 20px;
}
article.with-man p {
  font-size: 1.27em;
  line-height: 148%;
  margin-bottom: 127px;
  color: #555;
}
@media only screen and (max-width: 768px) {
  article.with-man p {
    margin-bottom: 55px;
  }
}
article.with-man img.img-responsive {
  position: absolute;
  right: -12px;
  bottom: 0;
}
@media only screen and (max-width: 979px) {
  article.with-man img.img-responsive {
    right: 0;
  }
}
@media only screen and (max-width: 768px) {
  article.with-man img.img-responsive {
    position: relative;
    right: -15px;
    bottom: 0;
    float: right;
  }
}
article.form-second-part {
  padding-top: 64px;
  padding-bottom: 178px;
  font-family: GL;
}
@media only screen and (max-width: 979px) {
  article.form-second-part {
    padding-bottom: 70px;
  }
}
article.form-second-part h3 {
  text-align: center;
  font-family: GM;
  line-height: 120%;
  font-size: 3.28em;
  margin-bottom: 23px;
}
article.form-second-part h3.scd {
  margin-top: 84px;
  margin-bottom: 32px;
}
article.form-second-part h4 {
  text-align: center;
  font-size: 1.63em;
  font-family: GL;
  margin-bottom: 117px;
}
@media only screen and (max-width: 768px) {
  article.form-second-part h4 {
    margin-bottom: 40px;
  }
}
article.form-second-part .btn-danger {
  max-width: 100%;
  line-height: 120%;
  font-size: 1.98em;
  padding-left: 56px;
  padding-right: 56px;
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  article.form-second-part .btn-danger {
    display: block;
    width: 100%;
    max-width: 100% !important;
  }
}
article.form-second-part .btn-danger .icon {
  position: absolute;
  right: -294px;
  bottom: -67px;
}
@media only screen and (max-width: 979px) {
  article.form-second-part .btn-danger .icon {
    display: none;
  }
}
article.form-second-part p.small {
  font-size: 1.137em;
  margin: auto;
  line-height: 151%;
  max-width: 1024px;
  margin-top: 93px;
  margin-bottom: 34px;
  position: relative;
}
article.form-second-part .checkbox-group {
  margin: auto;
  max-width: 450px;
}
article.form-second-part .checkbox-group span.checkbox {
  padding-left: 36px;
  font-size: 1.6em;
  margin-bottom: 29px;
}
article.form-second-part .checkbox-group span.checkbox label:before,
article.form-second-part .checkbox-group span.checkbox label:after {
  margin-top: -6px;
}
article.form-second-part .row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  max-width: 729px;
}
article.form-second-part .row .col-xs-4 label {
  position: relative;
  right: -51px;
  width: 100%;
  display: block;
  font-size: 2.33em;
  padding-top: 4px;
}
@media only screen and (max-width: 768px) {
  article.form-second-part .row .col-xs-4 label {
    right: 0 !important;
    text-align: center !important;
  }
}
article.form-second-part .row .col-xs-4 label.last {
  right: -2px;
}
article.form-second-part .row .col-xs-8 {
  padding-left: 45px;
}
@media only screen and (max-width: 768px) {
  article.form-second-part .row .col-xs-8 {
    padding-left: 15px;
  }
}
article.form-second-part .row .form-control {
  border: 1px solid #d9dadc;
  height: 61px;
  padding-left: 34px;
  line-height: 60px;
  color: #3bd796;
  font-size: 1.85em;
  font-family: GM;
}
article.form-second-part .row.with-arrows .icon-gray-arrow-left {
  position: absolute;
  left: -147px;
  top: -152px;
}
@media only screen and (max-width: 979px) {
  article.form-second-part .row.with-arrows .icon-gray-arrow-left {
    display: none;
  }
}
article.form-second-part .row.with-arrows .icon-gray-arrow-right {
  position: absolute;
  right: -147px;
  top: -152px;
}
@media only screen and (max-width: 979px) {
  article.form-second-part .row.with-arrows .icon-gray-arrow-right {
    display: none;
  }
}
article.form-second-part .container {
  max-width: 1024px !important;
}
article.testimonials {
  padding-top: 21px;
  padding-bottom: 56px;
}
article.testimonials .btn-primary {
  padding: 15px 21px !important;
  font-size: 1.02em !important;
  text-transform: none;
}
